*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* CONTAINER   */
.container{
  display: flex;
  flex-wrap: wrap;
}

/*   HEADER */

header{
  width:100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Pacifico', cursive, sans-serif;
  font-size: 18px;
  margin-top:10px;
  background-color: rgb(194, 229, 247);
  border-radius: 20px;
  height: 150px;
}

.menu{
  margin-top: 15px;
}

.menu > li{
  display: inline;
  margin-right: 50px;
}

.menu >li:last-of-type{
  margin-right: 0;
}

a:link, 
a:visited{
  color: #007;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.social{
  display: flex;
  justify-content: center;
  align-items: center;
  
}





/* MAIN */

main{
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top:40px;
}


/* SECTION */
section{
  width: 100%;
  display: flex;
  justify-content: center;  
  align-items: center;
  font-family: 'Dancing-script', cursive, sans-serif;
}



/*  ABOUT */
.bio{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
  
}

.bio_content {
  display:flex;
  justify-content:flex-end;
  align-items:center;
  font-size:20px;
}

.img-profile{
  display:flex;
  justify-content:center;
  align-items:center;
}

.img{
  border-radius: 70%;
}




#about{
  position:absolute;
  left:-100%;
  transition: left 0.3s ease-in-out;
}
#about:target{
  left: 0;
}


/* PROJECT */
#projects{
  position: relative;
  overflow: hidden;
}

#projects{
  position:absolute;
  left:-100%;
  transition: left 0.3s ease-in-out;
}
#projects:target{
  left: 0;
}




/* SKILLS */
#skills{
  position: relative;
  overflow: hidden;
}

#skills{
  position:absolute;
  left:-100%;
  transition: left 0.3s ease-in-out;
}
#skills:target{
  left: 0;
}

/* CONTACT */

label[name=contact]{
  margin-top:10px;
}

#contact{
  position: relative;
  overflow: hidden;
}

#contact{
  position:absolute;
  left:-100%;
  transition: left 0.3s ease-in-out;
}
#contact:target{
  left: 0;
}




/* FOOTER */

footer{
  width: 100%;
  height:30px;
  display:flex;
  justify-content:center;
  align-items: center;
  font-size: 18px;
  font-family:'MedievalSharp', cursive, sans-serif;
  color: rgb(194, 229, 247);
  background-color:rgb(150, 148,148);
  border-radius: 20px;
}


/* MEDIA QUERIES */




/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .container {
      width: 960px;
      margin: 0 auto;
    }
  


  }