*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  display: flex;
  flex-wrap: wrap;
}

header{
  width:100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Pacifico', cursive, sans-serif;
  font-size: 18px;
  margin-top:10px;
  background-color: rgb(194, 229, 247);
  border-radius: 20px;
  height: 200px;
}

.menu{
  margin-top: 15px;
}

.menu > li{
  display: inline;
  margin-right: 50px;
}

.menu >li:last-of-type{
  margin-right: 0;
}

a:link, 
a:visited{
  color: #007;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

main{
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}


footer{
  width: 100%;
  height:30px;
  display:flex;
  justify-content:center;
  align-items: center;
  font-size: 18px;
  font-family:'MedievalSharp', cursive, sans-serif;
  color: rgb(194, 229, 247);
  background-color:rgb(150, 148,148);
  border-radius: 20px;
}



/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .container {
      width: 960px;
      margin: 0 auto;
    }
  


  }