html{
  box-sizing: border-box;
}

.uppercase{
  text-transform: uppercase;
}

.content-wrap{
  max-width: 950px;
  margin: 0 auto;
  padding: 60px 30px;
  overflow:hidden;
  text-align: center;
  font-family: 'Dancing-script',cursive, sans-serif;
}
/* HEADER  */

nav {
  text-align: center;
  background-color: rgb(194,229,247);
  border-radius: 20px;
  font-size:20px;
  font-family: 'Pacifico', cursive, sans-serif;

}

nav a{
  padding:15px 20px;
  text-transform: uppercase;
}

.menu{
  margin-top:15px;
}

.menu > li{
  display:inline;
}

a:link, 
a:visited{
  color:#007;
  text-decoration:none;
}

a:hover{
  text-decoration: underline;
}

/* ABOUT  */

#about{
  background-color: rgb(110, 110, 110);
  border-radius: 20px;
  color:rgb(194,229,247);
}

/* PROJECTS */
#projects{
  background:url(images/wall.png);
  border-radius: 20px;
  padding: 10px;
  margin-top: 15px;
}


/* CONTACT */



/* FOOTER */



